*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: black;
    color: white;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#manifesto {
    background: black;
    color: white;
    font-family:'Times New Roman', Times, serif;
    margin: 6vw;
}

.roman {
    margin: 0vw 0vw 0vw 8vw;
}
.container {
    width: 100vw;
}

.links {
    font-style: italic;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1000px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}

.link {
    text-align: center;
    font-size: 4vw;
}
header {
    margin: 10rem auto;
    text-align: center;
    
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vw;
}
footer {
    text-align: center;
}

a {
    color: white;
}